<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base_menubar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base_template.css') }}">
{% block style %}{% endblock %}

<head>
	{% if html_page_title %}
        <title>{{ html_page_title }} </title>
    {% else %}
        <title>Welcome to UC Report</title>
    {% endif %}
	<script type="text/javascript" src="{{ url_for("static" , filename="jquery-1.9.0.js") }} "></script>
    <script type="text/javascript" charset="utf-8">
    $(function(){
        $('#ExportXLS').click(function(){
            var url='data:application/vnd.ms-excel,' + encodeURIComponent($('#tableWrap').html())
            location.href=url
            return false
        })
    })
    </script>
</head>
<body>
	<div class="HeaderLine">
		<div class="HeaderItem">
			<img width="70" src="{{ url_for("static", filename="infologo.png") }}"/>
		</div>
		<div class="HeaderItem">
			 UC Reporter
		</div>
		<div class="NavigationItem">
			<form action="" method="post" novalidate>
			    Navigation:
			    {{ formNAV.select_navigation() }}
		        {{ formNAV.submit() }}
			</form>
				{% if current_user.is_anonymous %}
		        	<a class="login" href="{{ url_for('login') }}">Login</a>
				{% else %}
        			{{ current_user.username }}|
			        <a class="login" href="{{ url_for('logout') }}">Logout</a>
    			{% endif %}
        </div>
	</div>
	<nav>
			<ul class="topmenu">
				<li><a href="" class="active">CUCM Reports<span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="{{ url_for('usersearchpage') }}">User report</a></li>
						<li><a href="{{ url_for('cfa') }}">CallForward report</a></li>
						<li><a href="{{ url_for('huntpage') }}">HuntList report</a></li>
						<li><a href="{{ url_for('aurus_consitency_check') }}">Aurus report</a></li>
					</ul>
				</li>
				<li><a href="" class="active">CMS Reports<span class="fa fa-angle-down"></span></a>
				     <ul class="submenu">
						 <li><a href="{{ url_for('cmspage') }}">CDR Report</a></li>
						 <li><a href="{{ url_for('cms_cospace_page') }}">Conference pin</a></li>
						 <li><a href="{{ url_for('cms_recordings_page') }}">Records</a></li>
						 <li><a href="{{ url_for('cms_cospace_usage_page') }}">CMS Usage report</a></li>
						 <li><a href="{{ url_for('cms_cospace_usage_by_cluster_page') }}">CMS Group Usage report </a></li>
					 </ul>
				</li>
			</ul>
		</nav>
	<table class="HeaderTable">
		{% if max_loss_values%}
			<tr>
				<td>
				</td>
			</tr>
		{% else %}
			{% if not rows_list %}
			<tr>
				<th>
					{{ html_page_header }}
					{% if not html_page_header %}

					{{ html_page_title }}

					{% endif %}
				</th>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
			{% else %}
			<tr>
				<td>
					<button id="ExportXLS">Export to Excel</button>
				</td>
			</tr>
			{% endif %}
		{% endif %}
	</table>
	<fieldset class="Status">
		<legend class="StatusHeader">Status</legend>
			<div class="StatusItem">
				{{ console_output }}
			</div>
	</fieldset>

	{% block Content %}{% endblock %}
</body>
</html>























