<!DOCTYPE html>
<html>
<head>
	{% if html_page_title %}
        <title>{{ html_page_title }} </title>
    {% else %}
        <title>Welcome to UC Report</title>
    {% endif %}

	<link rel="stylesheet" href="{{ url_for('static', filename='settings_menubar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='base_template.css') }}">




</head>
<body>
	<div class="HeaderLine">
		<div class="HeaderItem">
			<img src="{{ url_for("static", filename="ciscoLogo.gif") }}"/>
		</div>
		<div class="HeaderItem">
			 {{ html_page_title }}
		</div>
		<div class="NavigationItem">
			<form action="" method="post" novalidate>
			    Navigation:
			    {{ formNAV.select_navigation() }}
		        {{ formNAV.submit() }}
			</form>
				{% if current_user.is_anonymous %}
		        	<a class="login" href="{{ url_for('login') }}">Login</a>
				{% else %}
        			{{ current_user.username }}|
			        <a class="login" href="{{ url_for('logout') }}">Logout</a>
    			{% endif %}
        </div>
	</div>
	<table>

		<nav>
			<ul class="topmenu">
				<li><a href="" class="active">Users<span class="fa fa-angle-down"></span></a>
					<ul class="submenu">
						<li><a href="">меню второго уровня</a></li>
						<li><a href="">меню второго уровня<span class="fa fa-angle-down"></span></a>
							<ul class="submenu">
								<li><a href="">меню третьего уровня</a></li>
								<li><a href="">меню третьего уровня</a></li>
								<li><a href="">меню третьего уровня</a></li>
							</ul>
						</li>
						<li><a href="">меню второго уровня</a></li>
					</ul>
				</li>
				<li><a href="" class="active">Servers<span class="fa fa-angle-down"></span></a>
				     <ul class="submenu">
						 <li><a href="">меню второго уровня</a></li>
						 <li><a href="">меню второго уровня</a></li>
					 </ul>
				</li>
				<li><a href="" class="active">UC Requester<span class="fa fa-angle-down"></span></a>
				     <ul class="submenu">
						 <li><a href="">меню второго уровня</a></li>
						 <li><a href="">меню второго уровня</a></li>
					 </ul>
				</li>
				<li><a href="" class="active">RoomControll<span class="fa fa-angle-down"></span></a>
				     <ul class="submenu">
						 <li><a href="">Terminals</a></li>
						 <li><a href="">Phones</a></li>
					 </ul>
				</li>

			</ul>
		</nav>

	</table>
	<table class="HeaderTable">
		<tr>
			<th>
				{{ html_page_header }}
			</th>
		</tr>
	</table>
	<fieldset class="Status">
		<legend class="StatusHeader">Status</legend>
			<div class="StatusItem">
				{{ console_output }}
			</div>
		</legend>
	</fieldset>

	{% block Content %}{% endblock %}
<body>
</html>























