{% extends "base_templates/base_template.html" %}
{% block Content %}
	<div class="SearchItem">
		<form action="" method="post" novalidate>
		    Выбор Hunt Group:
			{{ form_hunt_group.select_hunt_group() }}
	        {{ form_hunt_group.submit() }}
		</form>
	</div>
    {% if rows_list %}
	<div id="tableWrap">
 	<table class="DataTable">
		<tr>
			<th>
				Line Group
			</th>
			<th>
				Directory Number
			</th>
            <th>
				Display Name
			</th>  
            <th>
				Device type
			</th>  
			<th>
				Is Logged In
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				{{ row.linegroup }}
			</td>
			<td>
				{{ row.dnorpattern }}
			</td>
			<td>
				{{ row.display }}
			</td>
			<td>
				{{ row.devtype }}
			</td>
			<td>
				{{ row.hlog }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}
