{% extends "base_templates/base_template.html" %}
{% block Content %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
{% endblock %}

{% if rows_list %}



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ url_for('static', filename='popup.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
	.play-btn
	{
	cursor: pointer;
	}
</style>


	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
			<th>
				Max CallLegs
			</th>
			<th>
				Start time
			</th>
			<th>
				Duration
			</th>
			<th>
				Path
			</th>
			<th>
				Operation
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				{{ row.name }}
			</td>
			<td>
				{{ row.callLegsMaxActive }}
			</td>
			<td>
				{{ row.StartTime }}
			</td>
			<td>
				{{ row.durationSeconds }}
			</td>
			<td>
                {{ row.path }}
			</td>
			<td>
				<div>
					<a href="{{ url_for('cms_record_play_page', recording_id=row.recording_id) }}">
						<img width="20" height="20" class="play-btn" data-toggle="modal" data-target="#id_{{row.recording_id}}" src="{{ url_for('static', filename='icon_play.png') }}" />
					</a>
				</div>
			</td>
		</tr>

		{% endfor %}
	</table>
	</div>

	{% endif %}
{% endblock %}