{% extends "base_templates/base_template.html" %}
{% block Content %}

	<div class="SearchItem">
		<form action="" method="post" novalidate>
		    Найти телефон в
			{{ formSRCH.select_region() }}
			где
		    {{ formSRCH.select_field() }}
			начинается с:
			{{ formSRCH.string_field() }}
	        {{ formSRCH.submit() }}
		</form>
	</div>
    {% if rows_list %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				DN Number
			</th>
			<th>
				Call forward to
			</th>
            <th>
				Call forward to Mail
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				{{ row.dnorpattern }}
			</td>
			<td>
				{{ row.cfadestination }}
			</td>
			<td>
				{{ row.cfavoicemailenabled }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}

{% endblock %}