{% extends "base_templates/base_template.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='base_packetloss_graph.css') }}">
{% endblock %}

{% block Content %}




    {% if resources %}
            {{ resources|safe }}
    {% endif %}



    {% if div %}
	    {{ div|safe }}
    {% endif %}
    {% if script %}
	    {{ script|safe }}
    {% endif %}

    {% if max_loss_values %}
        <div id="tableWrap">
        <table class="GraphDataTable">
            <tr>
                <td>
                    Max Audio Packet Loss Percentage RX:
                </td>
                <td>
                    {{ max_loss_values.AudioRX }}
                </td>
            </tr>
                    <tr>
                <td>
                    Max Audio Packet Loss Percentage TX:
                </td>
                <td>
                    {{ max_loss_values.AudioTX }}
                </td>
            </tr>
                    <tr>
                <td>
                    Max Video Packet Loss Percentage RX:
                </td>
                <td>
                    {{ max_loss_values.VideoRX }}
                </td>
            </tr>
                    <tr>
                <td>
                    Max Video Packet Loss Percentage TX:
                </td>
                <td>
                    {{ max_loss_values.VideoTX }}
                </td>
            </tr>
        </table>
        </div>
    {% endif %}

{% endblock %}