{% extends "base_templates/base_template.html" %}
{% block Content %}

    {% if rows_list %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Remote address
			</th>
			<th>
				Display Name
			</th>
			<th>
				CMS node
			</th>
			<th>
				Duration
			</th>
			<th>
				Start time
			</th>
			<th>
				Disconnect
			</th>
			<th>
				RX media
			</th>
			<th>
				TX media
			</th>
			<th>
				Alarm type
			</th>
			<th>
				Duration percentage
			</th>
			<th>
				Audio Gap
			</th>
			<th>
				Audio Burst
			</th>
			<th>
				Video Gap
			</th>
			<th>
				Video Burst
			</th>

		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				 <a href="  {{ url_for('cmscallleg', callegid=row.callleg_id) }}">
				 	{% if row.remoteaddress == 'none' %}
					 	{% if row.guestConnection == 'true' %}
					 		WebRTC App guest
					 	{% else %}
					 		none
					 	{% endif %}
					{% else %}
						{{row.remoteaddress}}
    				{% endif %}
 				 	{% if (row.callLeg_subtype == 'lync') or (row.callLeg_subtype == 'distributionLink')  %}
						({{ row.callLeg_subtype }})
    				{% endif %}
				 </a>
			</td>
			<td>
				{{ row.displayName }}
			</td>
			<td>
				{{ row.cms_ip }}
			</td>
			<td>
				{{ row.durationseconds }}
			</td>
			<td>
				{{ row.startTime }}
			</td>
			<td>
				{{ row.reason }}
			</td>
			<td>
				{{ row.rxAudio_codec }},{{ row.rxVideo_codec }}
			</td>
			<td>
				{{ row.txAudio_codec }},{{ row.txVideo_codec }} {{ row.txVideo_maxHeight }} x {{ row.txVideo_maxWidth }}
			</td>
			<td>
				{{ row.alarm_type }}
			</td>
			<td>
				{{ row.alarm_value }}
			</td>
			<td>
				{{ row.rxAudio_packetGap_duration }} {{ row.rxAudio_packetGap_density }}
			</td>
			<td>
				{{ row.rxAudio_packetLossBurst_duration }} {{ row.rxAudio_packetLossBurst_density }}
			</td>
			<td>
				{{ row.rxVideo_packetGap_duration }} {{ row.rxVideo_packetGap_density }}
			</td>
			<td>
				{{ row.rxVideo_packetLossBurst_duration }} {{ row.rxVideo_packetLossBurst_density }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}