{% extends "base_templates/base_template.html" %}
{% block Content %}
	<div class="SearchItem">
		<form action="" method="post" novalidate>
		    Список комнат CMS:
			{{ formCMS.select_CMSCluster() }}
	        {{ formCMS.submit() }}
		</form>
	</div>
    {% if rows_list %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
            <th>
				CallID
			</th>
			<th>
				URI
			</th>
			<th>
				Passcode
			</th>

		</tr>
		{% for row in rows_list %}
		<tr>
            <td>
				{{ row.name }}
			</td>
			<td>
				{{ row.callId }}
			</td>
			<td>
				{{ row.uri }}
			</td>
            <td>
				{{ row.passcode }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}