{% extends "base_templates/base_template.html" %}
{% block Content %}

    {% if rows_list %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
			<th>
				Max CallLegs
			</th>
			<th>
				Start time
			</th>
			<th>
				Duration
			</th>
			<th>
				Path
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				{{ row.name }}
			</td>
			<td>
				{{ row.callLegsMaxActive }}
			</td>
			<td>
				{{ row.StartTime }}
			</td>
			<td>
				{{ row.durationSeconds }}
			</td>
			<td>
                <a href="  {{ row.path }}">{{ row.path }}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}