{% extends "base_templates/base_template.html" %}
{% block Content %}
	<div class="SearchItem">


		  <form action="" method="post" novalidate>
			Поиск вызовов в кластере CMS: {{ formCMS.select_CMSCluster() }}  где имя спейса содержит: {{ formCMS.confroom_filter() }}
	        {{ formCMS.submit() }}

			элементов на странице:
			{{ formCMS.limit_field() }}

		  </form>


	</div>
    {% if rows_list %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
            <th>
				CMS IP
			</th>
			<th>
				Start time
			</th>
            <th>
				End time
			</th>
            <th>
				Duration
			</th>
            <th>
				Max CallLegs
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				 <a href="  {{ url_for('cmscall',callid=row.call_id) }}">{{ row.cospace_name }}</a>
				{% if row.meeting_id %}
				(<a href="  {{ url_for('cmsmeetingid',meeting_id=row.meeting_id) }}">All clusters view</a>)
				{% endif %}
			</td>
            <td>
				{{ row.cms_ip }}
			</td>
			<td>
				{{ row.starttime }}
			</td>
            <td>
				{{ row.EndTime }}
			</td>
            <td>
				{{ row.durationSeconds }}
			</td>
            <td>
				{{ row.callLegsMaxActive }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}