{% extends "base_templates/base_template.html" %}
{% block Content %}
 	<table class="DataTable">
		<tr>
			<th>
				Line Group
			</th>
			<th>
				Directory Number
			</th>
            <th>
				Display Name
			</th>  
            <th>
				Device type
			</th>  
			<th>
				Is Logged In
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				{{ row.linegroup }}
			</td>
			<td>
				{{ row.dnorpattern }}
			</td>
			<td>
				{{ row.display }}
			</td>
			<td>
				{{ row.devtype }}
			</td>
			<td>
				{{ row.hlog }}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
