{% extends "base_templates/settings_template.html" %}
{% block Content %}

 {# вывод листинга пользователей #}
    {% if content_type == "user_list" %}
	<div id="tableWrap">
		<table>
			<button type="button" onclick="window.location.href='{{ url_for( 'platform_users' , userid='AddNew' ) }}';">Add New</button>
		</table>
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
            <th>
				Description
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
            <td>
				<a href="{{ url_for('platform_users',userid=row.id) }}">{{ row.username }}</a>
			</td>
			<td>
				{{ row.description }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}

{# Страница редактирования пользователя #}
    {% if content_type == "user_edit" %}
	    <div id="tableWrap">
		<form action="" method="post" novalidate>
		<fieldset>
			<legend>
				User Information
			</legend>
			<table class="content-form" summary="User Information">
				<tbody>
				<tr>
					<td><label>id</label></td>
					<td>{{ form_edit_user.id_field}}</td>
				</tr>
				<tr>
					<td><label >UserName</label></td>
					<td>{{ form_edit_user.UserName_field}}</td>
				</tr>
				<tr>
					<td><label>Password</label></td>
					<td>{{ form_edit_user.Password_field}}</td>
				</tr>
				<tr>
					<td><label>Description</label></td>
					<td>{{ form_edit_user.Description_field}}</td>
				</tr>
				</tbody>

			</table>
		</fieldset>
		{{ form_edit_user.SaveSubmit()}}
		</form>


	</div>
	{% endif %}

{# Вывод листинга серверов CMS#}
    {% if content_type == "cms_server_list" %}
	<div id="tableWrap">
		<button type="button" onclick="window.location.href='{{ url_for( 'platform_CMSservers' , server_id='AddNew' ) }}';">Add New</button>
	<table class="DataTable">
		<tr>
			<th>
				ID
			</th>
			<th>
				IP
			</th>
            <th>
				Cluster
			</th>
			<th>
				CallLeg requester
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				<a href="{{ url_for('platform_CMSservers',server_id=row.id) }}">{{ row.id }}</a>
			</td>
            <td>
				<a href="{{ url_for('platform_CMSservers',server_id=row.id) }}">{{ row.ip }}</a>
			</td>
			<td>
				{{ row.cluster }}
			</td>
			<td>
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}

{# Страница редактирования сервера CMS#}
    {% if content_type == "cms_server_edit" %}
<div id="tableWrap">
	<form action="" method="post" novalidate>
	<fieldset>
		<legend>
			Sever Information
		</legend>
		<table class="content-form" summary="Server Information">
			<tbody>
			<tr>
				<td><label id="INDEX_ID">index</label></td>
				<td>{{ form_CMS_server.id_field}}</td>
			</tr>
			<tr>
				<td><label id="NAME_ID">Server Cluster</label></td>
				<td>{{ form_CMS_server.cluster_field}}</td>
			</tr>
			<tr>
				<td><label id="Password_ID">IP Address</label></td>
				<td>{{ form_CMS_server.ip_field}}</td>
			</tr>
			<tr>
				<td><label id="DESCRIPTION_ID">API port</label></td>
				<td>{{ form_CMS_server.API_Port_field }}</td>
			</tr>
			<tr>
				<td><label id="DESCRIPTION_ID">API Username</label></td>
				<td>{{ form_CMS_server.username_field }}</td>
			</tr>
			<tr>
				<td><label id="DESCRIPTION_ID">API Password</label></td>
				<td>{{ form_CMS_server.password_field }}</td>
			</tr>
			<tr>
				<td><label id="DESCRIPTION_ID">CallLeg Request information</label></td>
				<td>{{ form_CMS_server.Requester_field }}</td>
			</tr>
			</tbody>

		</table>
	</fieldset>
	<table>
		<tr>
			<td>{{ form_CMS_server.SaveSubmit()}}</td>
		</tr>
	</table>
	</form>
</div>
    {% endif %}

{# Вывод листинга серверов CUCM#}
    {% if content_type == "cucm_server_list" %}
	<div id="tableWrap">
			<button type="button" onclick="window.location.href='{{ url_for( 'platform_CUCMservers' , server_id='AddNew' ) }}';">Add New</button>
	<table class="DataTable">
		<tr>
			<th>
				ID
			</th>
			<th>
				IP
			</th>
            <th>
				Cluster
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
			<td>
				<a href="{{ url_for('platform_CUCMservers',server_id=row.id) }}">{{ row.id }}</a>
			</td>
            <td>
				<a href="{{ url_for('platform_CUCMservers',server_id=row.id) }}">{{ row.cm_ip }}</a>
			</td>
			<td>
				{{ row.cluster }}
			</td>
		</tr>
		{% endfor %}
	</table>

	</div>
	{% endif %}

{# Страница редактирования сервера CUCM#}
    {% if content_type == "cucm_server_edit" %}
    <div id="tableWrap">
		<form action="" method="post" novalidate>
		<fieldset>
			<legend>
				Sever Information
			</legend>
			<table class="content-form" summary="Server Information">
				<tbody>
				<tr>
					<td><label>id</label></td>
					<td>{{ form_CUCM_server.id_field}}</td>
				</tr>
				<tr>
					<td><label>Server Cluster</label></td>
					<td>{{ form_CUCM_server.Cluster_field}}</td>
				</tr>
				<tr>
					<td><label>IP Address</label></td>
					<td>{{ form_CUCM_server.ip_field}}</td>
				</tr>
				<tr>
					<td><label>AXL Username</label></td>
					<td>{{ form_CUCM_server.username_field }}</td>
				</tr>
				<tr>
					<td><label>AXL Password</label></td>
					<td>{{ form_CUCM_server.password_field }}</td>
				</tr>
				</tbody>
			</table>
		</fieldset>
		{{ form_CUCM_server.SaveSubmit()}}
		</form>

	</div>
    {% endif %}

	{% if content_type == "RoomControll" %}
    <div id="tableWrap">
    <fieldset>
	<legend>
			Server Information
	</legend>
	<table class="content-form" summary="Server Information">
		<tbody><tr>
			<td><label>Server Type</label></td>
			<td>CUCM Voice/Video</td>
		</tr>
			<tr>
				<td><label>Database Replication</label></td>
				<td>Publisher</td>
			</tr>
			<tr><td><label id="NAME_ID" for="NAME">Host Name/IP Address</label></td><td><input id="NAME" name="name" maxlength="63" value="ccm-pub-msk.sibserv.com" size="50" onchange="isNameValid(this)" type="text"></td></tr>
		    <tr><td><label id="IPV6NAME_ID" for="IPV6NAME">IPv6 Address (for dual IPv4/IPv6)</label></td><td><input id="IPV6NAME" name="ipv6name" maxlength="255" value="" size="50" onchange="isipv6nameValid(this)" type="text"></td></tr>
			<tr><td><label id="MAC_ID" for="MAC">MAC Address</label></td><td><input id="MAC" name="mac" maxlength="12" value="00145E881BE8" size="50" onchange="isMacValid(this)" type="text"></td></tr>
		    <tr><td><label id="DESCRIPTION_ID" for="DESCRIPTION">Description</label></td><td><input id="DESCRIPTION" name="description" maxlength="50" value="" size="50" onchange="isDescriptionValid(this)" type="text"></td></tr>
	</tbody></table>
    </fieldset>
    </div>
    {% endif %}

{% endblock %}
