<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='base_template.css') }}">
<head>
	{% if title %}
        <title>{{ title }} </title>
    {% else %}
        <title>Welcome to UC Reporter</title>
    {% endif %}


</head>

<body>
	<div class="HeaderLine">
		<div class="HeaderItem">
			<img src="{{ url_for("static", filename="ciscoLogo.gif") }}"/>
		</div>
		<div class="HeaderItem">
			UC Reporter
		</div>
		<div class="NavigationItem">
			<form action="" method="post" novalidate>
			    Navigation:
			    {{ formNAV.select_navigation() }}
		        {{ formNAV.submit() }}
			</form>
        </div>
	</div>

        <table class="HeaderTable">
            <tr>
                <th>
                    UC Reporter
                </th>
                <th>
                    <form action="" method="post" novalidate>
                        Login:<br>
                        {{ form_login.login_field()}}<br>
                        Password:<br>
                        {{ form_login.password_field()}}<br>
                        {{ form_login.submit()}}<br>
                    </form>
                </th>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>

<body>
</html>