{% extends "base_templates/base_template.html" %}
{% block Content %}
	<div class="SearchItem">
		<form action="" method="post" novalidate>
		    Проверка для региона:
			{{ formCUCM.select_cluster() }}
	        {{ formCUCM.submit() }}
		</form>
	</div>
    {% if rows_list %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Device Type
			</th>
            <th>
				Device Name
			</th>
            <th>
				Line
			</th>
            <th>
				Username
			</th>
			<th>
				CUCM check - recorded DN
			</th>
            <th>
				CUCM check - AppUser
			</th>
            <th>
				Aurus check - Activated Device
			</th>
            <th>
				Aurus check - Recorded Line
			</th>
            <th>
				Aurus check - Line user
			</th>
		</tr>
		{% for row in rows_list.values() %}
		<tr>
            <td>
				{{ row.devicetype }}
			</td>
			<td>
				{{ row.devicename }}
			</td>
            <td>
                {{ row.dnorpattern }}
			</td>
			<td>
                {{ row.username }}
			</td>
			<td>
				{{ row.cucmline_dnorpattern }}
			</td>
            <td>
				{{ row.app_devicename }}
			</td>
            <td>
				{{ row.phoneup_devicename }}
			</td>
            <td>
				{{ row.line_dnorpattern }}
			</td>
            <td>
				{{ row.line_username }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}