{% extends "base_templates/settings_template.html" %}
{% block Content %}


 {# вывод листинга пользователей #}
    {% if content_type == "user_list" %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
            <th>
				Description
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
            <td>
				<a href="{{ url_for('platform_users',userid=row.id) }}">{{ row.username }}</a>
			</td>
			<td>
				{{ row.description }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}


{# Страница редактирования пользователя #}
    {% if content_type == "user_edit" %}
	    <div id="tableWrap">
		<fieldset>
			<legend>
				User Information
			</legend>
			<table class="content-form" summary="User Information">
				<tbody>
				<tr>
					<td><label id="NAME_ID">UserName</label></td>
					<td>{{ form_edit_user.UserName_field(default=rows_list.username)}}</td>
				</tr>
				<tr>
					<td><label id="Password_ID">Password</label></td>
					<td>{{ form_edit_user.Password_field(default=rows_list.password)}}</td>
				</tr>
				<tr>
					<td><label id="DESCRIPTION_ID">Description</label></td>
					<td>{{ form_edit_user.Descriotion_field(default=rows_list.description)}}</td>
				</tr>
				</tbody>

			</table>
		</fieldset>
			<table>
				<td>{{ form_edit_user.SaveSubmit()}}</td>
				<td>{{ form_edit_user.DeleteSubmit()}}</td>

			</table>
	</div>
	{% endif %}

{# Вывод листинга серверов #}
    {% if content_type == "server_list" %}
	<div id="tableWrap">
	<table class="DataTable">
		<tr>
			<th>
				Name
			</th>
            <th>
				Cluster
			</th>
		</tr>
		{% for row in rows_list %}
		<tr>
            <td>
				<a href="{{ url_for('platform_users',userid=row.id) }}">{{ row.username }}</a>
			</td>
			<td>
				{{ row.description }}
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	{% endif %}

{# Страница редактирования сервера #}
    {% if content_type == "server_edit" %}
    <div id="tableWrap">
		<fieldset>
			<legend>
				Server Information
			</legend>
			<table class="content-form" summary="Server Information">
				<tbody>
				<tr>
					<td><label id="NAME_ID" for="NAME">Host Name/IP Address</label></td>
					<td><input id="NAME" name="name" maxlength="63" value="ccm-pub-msk.sibserv.com" size="50"
							   onchange="isNameValid(this)" type="text"></td>
				</tr>
				<tr>
					<td><label id="MAC_ID" for="MAC">MAC Address</label></td>
					<td><input id="MAC" name="mac" maxlength="12" value="00145E881BE8" size="50"
							   onchange="isMacValid(this)" type="text"></td>
				</tr>
				<tr>
					<td><label id="DESCRIPTION_ID" for="DESCRIPTION">Description</label></td>
					<td><input id="DESCRIPTION" name="description" maxlength="50" value="" size="50"
							   onchange="isDescriptionValid(this)" type="text"></td>
				</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
    {% endif %}

    {% if content_type == "requester_server_list" %}
    <div id="tableWrap">
    <fieldset>
	<legend>
			Server Information
	</legend>
	<table class="content-form" summary="Server Information">
		<tbody><tr>
			<td><label>Server Type</label></td>
			<td>CUCM Voice/Video</td>
		</tr>
			<tr>
				<td><label>Database Replication</label></td>
				<td>Publisher</td>
			</tr>
			<tr><td><label id="NAME_ID" for="NAME">Host Name/IP Address</label></td><td><input id="NAME" name="name" maxlength="63" value="ccm-pub-msk.sibserv.com" size="50" onchange="isNameValid(this)" type="text"></td></tr>
		    <tr><td><label id="IPV6NAME_ID" for="IPV6NAME">IPv6 Address (for dual IPv4/IPv6)</label></td><td><input id="IPV6NAME" name="ipv6name" maxlength="255" value="" size="50" onchange="isipv6nameValid(this)" type="text"></td></tr>
			<tr><td><label id="MAC_ID" for="MAC">MAC Address</label></td><td><input id="MAC" name="mac" maxlength="12" value="00145E881BE8" size="50" onchange="isMacValid(this)" type="text"></td></tr>
		    <tr><td><label id="DESCRIPTION_ID" for="DESCRIPTION">Description</label></td><td><input id="DESCRIPTION" name="description" maxlength="50" value="" size="50" onchange="isDescriptionValid(this)" type="text"></td></tr>
	</tbody></table>
    </fieldset>
    </div>
    {% endif %}

    {% if content_type == "requester_server_edit" %}
    <div id="tableWrap">
    <fieldset>
	<legend>
			Server Information
	</legend>
	<table class="content-form" summary="Server Information">
		<tbody><tr>
			<td><label>Server Type</label></td>
			<td>CUCM Voice/Video</td>
		</tr>
			<tr>
				<td><label>Database Replication</label></td>
				<td>Publisher</td>
			</tr>
			<tr><td><label id="NAME_ID" for="NAME">Host Name/IP Address</label></td><td><input id="NAME" name="name" maxlength="63" value="ccm-pub-msk.sibserv.com" size="50" onchange="isNameValid(this)" type="text"></td></tr>
		    <tr><td><label id="IPV6NAME_ID" for="IPV6NAME">IPv6 Address (for dual IPv4/IPv6)</label></td><td><input id="IPV6NAME" name="ipv6name" maxlength="255" value="" size="50" onchange="isipv6nameValid(this)" type="text"></td></tr>
			<tr><td><label id="MAC_ID" for="MAC">MAC Address</label></td><td><input id="MAC" name="mac" maxlength="12" value="00145E881BE8" size="50" onchange="isMacValid(this)" type="text"></td></tr>
		    <tr><td><label id="DESCRIPTION_ID" for="DESCRIPTION">Description</label></td><td><input id="DESCRIPTION" name="description" maxlength="50" value="" size="50" onchange="isDescriptionValid(this)" type="text"></td></tr>
	</tbody></table>
    </fieldset>
    </div>
    {% endif %}

    {% if content_type == "RoomControll" %}
    <div id="tableWrap">
    <fieldset>
	<legend>
			Server Information
	</legend>
	<table class="content-form" summary="Server Information">
		<tbody><tr>
			<td><label>Server Type</label></td>
			<td>CUCM Voice/Video</td>
		</tr>
			<tr>
				<td><label>Database Replication</label></td>
				<td>Publisher</td>
			</tr>
			<tr><td><label id="NAME_ID" for="NAME">Host Name/IP Address</label></td><td><input id="NAME" name="name" maxlength="63" value="ccm-pub-msk.sibserv.com" size="50" onchange="isNameValid(this)" type="text"></td></tr>
		    <tr><td><label id="IPV6NAME_ID" for="IPV6NAME">IPv6 Address (for dual IPv4/IPv6)</label></td><td><input id="IPV6NAME" name="ipv6name" maxlength="255" value="" size="50" onchange="isipv6nameValid(this)" type="text"></td></tr>
			<tr><td><label id="MAC_ID" for="MAC">MAC Address</label></td><td><input id="MAC" name="mac" maxlength="12" value="00145E881BE8" size="50" onchange="isMacValid(this)" type="text"></td></tr>
		    <tr><td><label id="DESCRIPTION_ID" for="DESCRIPTION">Description</label></td><td><input id="DESCRIPTION" name="description" maxlength="50" value="" size="50" onchange="isDescriptionValid(this)" type="text"></td></tr>
	</tbody></table>
    </fieldset>
    </div>
    {% endif %}


{% endblock %}
